@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&family=Roboto+Mono:wght@300&display=swap");
/* ================================================= */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --first-color: #f8f7f1;
  --second-color: #292929;
  --burem-color: #0000008f;
  --nav-color: rgba(255, 255, 255, 0.4);
  /* --nav-color: #fff; */
  --label-color: #292929;
  --font-gedebgt: "Bebas Neue", cursive;
  --font-gede: "Poppins", sans-serif;
  --font-kecil: "Roboto Mono", monospace;
  --warna-warni: #fda251;
  --warna-warna: #fda15170;
  --font-big: 5em;
  --font-mid: 2.5em;
  --font-smal: 0.875em;
  --sadow-box: 0 1px 4px rgba(146, 161, 176, 0.15);
  /* --color-icon:#d0d8d8; */
  --color-icon: #f8f7f1;
  --port: assets/img/port-b.png;
}
.dark {
  --port: assets/img/port-w.png;
  --first-color: #292929;
  --second-color: #f8f7f1;
  /* --nav-color: #424242; */
  --burem-color: #d8d8d8b0;
  --nav-color: rgba(65, 63, 63, 0.4);
  --label-color: #fda251;
  --sadow-box: 0 1px 4px rgba(20, 20, 20, 0.3);
}
/* ===icon color=== */
nav .uil-brightness {
  color: var(--color-icon);
}
nav .uil-moon {
  color: var(--color-icon);
}
/* ====== tambahan ======= */
.container {
  /* max-width: 768px; */
  margin-left: 1.5em;
  margin-right: 1.5em;
}
.grid {
  display: grid;
  gap: 1.5em;
}
/* ==================================== */
.sect {
  padding: 5em 0 0;
}

.sect__title {
  font-size: 2.25rem;
  color: var(--warna-warni);
}

.sect__sub {
  display: block;
  font-size: 0.813rem;
  margin-bottom: 3rem;
}

.sect__title,
.sect__sub {
  text-align: center;
}
/* ==================================== */
/* ---------checkbox---------- */

.checkbox {
  opacity: 0;
  position: absolute;
}
/* button label */
.label {
  background-color: var(--label-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  height: 26px; /* ini tinggi */
  width: 50px; /*ini panjang */
}
.ball {
  background-color: var(--first-color);
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transition: transform 0.2s linear;
}
.checkbox:checked + .label .ball {
  transform: translateX(24px);
}
/* ----------------button--------------- */
.button {
  background-color: var(--second-color);
  /* justify-self: center; */
  display: inline-block;
}
.button__resume:hover {
  transform: translate(-6px, -6px);
  animation: input-animation 0.5s;
}

.button__resume {
  display: grid;
  text-decoration: none;
  background-color: var(--warna-warni);
  color: #f8f7f1;
  font-weight: 400;
  padding: 0.75em 1em;
  cursor: pointer;
}

/* ---------------- */
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--first-color);
  color: var(--second-color);
  font-family: var(--font-gede);
  font-weight: 300;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

nav {
  font-family: var(--font-gede);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 2em;
  background-color: var(--nav-color);
  position: fixed;
  z-index: 999;
  backdrop-filter: blur(3px);
  box-shadow: var(--sadow-box);
}
nav .logo a {
  font-family: var(--font-gede);
  font-weight: 600;
  color: var(--warna-warni);
  letter-spacing: -2px;
  text-decoration: none;
}
nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-between;
}
nav a {
  font-family: var(--font-kecil);
  color: var(--second-color);
  text-decoration: none;
}
footer {
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 0em 10em;
  width: 100%;
}
/* ---------intro-------------- */
.intro {
  padding-top: 150px;
}
.intro__hi {
  font-family: var(--font-kecil);
}
.intro__nama {
  margin-top: 2rem;
  font-family: var(--font-gede);
  font-size: var(--font-big);
  letter-spacing: -3px;
}
.intro__sub {
  margin-top: -10px;
  font-weight: 300;
  font-size: xx-large;
}
.intro__tagline {
  margin-top: 5px;
  margin-bottom: 3em;
  /* word-spacing: 2px; */
}
/* ----------------skills----------------- */
.skills__container {
  row-gap: 0;
  grid-template-columns: auto auto auto;
}

.skills__header {
  display: flex;
  align-items: center;
  margin-bottom: 2.5em;
  cursor: pointer;
}

.skills__icon,
.skills__arrow {
  font-size: 2em;
  color: var(--warna-warni);
}

.skills__icon {
  margin-right: 0.75em;
}
.skills__title {
  font-size: 1.25em;
}

.skills__sub {
  font-size: 0.813em;
  color: var(--burem-color);
}
.skills__arrow {
  margin-left: auto;
  transition: 0.4s ease;
}
.skills__list {
  row-gap: 1.5em;
  padding-left: 2.7em;
}

.skills__titles {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
}
.skills__name {
  font-size: 1em;
  font-weight: 400;
}
.skills__bar,
.skills__percentage {
  height: 5px;
  border-radius: 0.25em;
}
.skills__bar {
  background-color: var(--warna-warna);
}
.skills__percentage {
  display: block;
  background-color: var(--warna-warni);
}
.skills__html {
  width: 70%;
}

.skills__css {
  width: 55%;
}

.skills__js {
  width: 20%;
}

.skills__react {
  width: 5%;
}

.skills__ps {
  width: 70%;
}

.skills__ai {
  width: 55%;
}

.skills__figma {
  width: 20%;
}

.skills__word {
  width: 90%;
}

.skills__excel {
  width: 80%;
}

.skills__powerpoint {
  width: 60%;
}
.skills__close .skills__list {
  height: 0;
  overflow: hidden;
}
.skills__open .skills__list {
  height: max-content;
  margin-bottom: 2.5em;
}
.skills__open .skills__arrow {
  transform: rotate(-180deg);
}
/* -----------------------works---------------------- */
.works__content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 3em;
}
.work_box {
  background-color: var(--second-color);
}
.image__port {
  width: 100%;
  height: 100%;
}
.image__port:hover {
  transform: translate(-6px, -6px);
  animation: input-animation 0.5s;
}

/* =========================================== */
.form {
  display: grid;
  height: 100vh;
  place-items: center;
  margin: 0 1.5rem;
}
.form__content {
  display: grid;
  gap: 1em;
}
.form__input,
.form__label,
.button__submit,
.msg__input,
.button__resume {
  border: 0;
  outline: none;
}
.form__box {
  width: 412px;
  height: 59px;
  position: relative;
}
.messages__box {
  width: 412px;
  height: 160px;
  position: relative;
}
.form__shadow,
.form__messhadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--second-color);
}
.form__input {
  position: absolute;
  border: 2.5px solid var(--second-color);
  background-color: var(--first-color);
  width: 100%;
  height: 100%;
  z-index: 10;
  padding: 18px;
  transition: transform 0.3s;
}
.form__input::placeholder {
  transition: opacity 0.5s;
}
.form__label {
  z-index: 100;
  position: absolute;
  top: 16px;
  left: 20px;
  font-size: 0.5em;
  font-weight: 600;
  transition: 0.2s;
  pointer-events: none;
  opacity: 0;
}
.from__button {
  justify-self: center;
  background-color: var(--second-color);
}
.button__submit {
  padding: 0.75em 3em;
  background-color: var(--warna-warni);
  color: #f8f7f1;
  font-size: 1em;
  font-family: var(--font-gede);
  font-weight: 400;
  cursor: pointer;
}
.button__submit:hover {
  transform: translate(-6px, -6px);
  animation: input-animation 0.5s;
}
/* === */
.form__input:focus::placeholder {
  opacity: 0;
  transition: 0.3s;
}
/* ------ */
.form__input:focus,
.form__input:not(:placeholder-shown).form__input:not(:focus) {
  transform: translate(-8px, -8px);
  padding: 28px 18px 18px;
  animation: input-animation 0.5s;
}
/* --- */
.form__input:focus + .form__label,
.form__input:not(:placeholder-shown).form__input:not(:focus) + .form__label {
  opacity: 1;
  top: 2px;
  left: 12px;
  transition: 0.3s;
}
.form__content {
  zoom: 1.1;
}
input,
select,
textarea {
  color: var(--second-color);
  font-family: var(--font-kecil);
}

textarea:focus,
input:focus {
  color: var(--second-color);
  font-family: var(--font-kecil);
}
@keyframes input-animation {
  0% {
    transform: translate(0);
  }
  40% {
    transform: translate(-9px, -9px);
  }
  60% {
    transform: translate(-7px, -7px);
  }
}

/* -------------------------------------- */
@media screen and (max-width: 1312px) {
  nav ul {
    width: 50%;
  }
}
@media screen and (max-width: 992px) {
  nav ul {
    width: 60%;
  }
  .content {
    padding: 0em 5em;
  }
  .intro__nama {
    font-size: 60px;
    /* letter-spacing: -3px; */
  }
  .intro {
    text-align: center;
  }
  .skills__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .form__content {
    zoom: unset;
  }
}
@media screen and (max-width: 668px) {
  nav li a {
    display: none;
  }
  .content {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    /* padding-top: 9.5rem; */
    padding-bottom: 5rem;
  }
  .intro__nama {
    font-size: 3.25rem;
    letter-spacing: -3px;
  }
  .intro__sub {
    margin-top: 0.25rem;
    font-weight: 300;
    font-size: 25px;
  }
  .intro__tagline {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
  }
  .skills__container {
    grid-template-columns: none;
  }

  .form__content,
  .form__box,
  .messages__box {
    width: 100%;
  }
}
@media screen and (max-width: 350px) {
  /* ======= */
  nav {
    padding: 16px 23px;
  }
  .sect__title {
    font-size: 1.75em;
  }
  .button {
    font-size: 0.725em;
  }
  .intro__nama {
    font-size: 2.5em;
  }
  .intro__sub {
    font-size: 20px;
  }

  .container {
    margin-left: 0;
    margin-right: 0;
  }

  .skills__title {
    font-size: 0.938em;
  }
  .form {
    margin: 0 0;
  }
}
