@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@200;300;400;500;600&family=Roboto+Mono:wght@300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --first-color: #f8f7f1;
  --second-color: #292929;
  --burem-color: #0000008f;
  --nav-color: rgba(255, 255, 255, 0.4);
  /* --nav-color: #fff; */
  --label-color: #292929;
  --font-gedebgt: "Bebas Neue", cursive;
  --font-gede: "Poppins", sans-serif;
  --font-kecil: "Roboto Mono", monospace;
  --warna-warni: #fda251;
  --warna-warna: #fda15170;
  --font-big: 5em;
  --font-mid: 2.5em;
  --font-smal: 0.875em;
  --sadow-box: 0 1px 4px rgba(146, 161, 176, 0.15);
  /* --color-icon:#d0d8d8; */
  --color-icon: #f8f7f1;
}
.dark {
  --first-color: #292929;
  --second-color: #f8f7f1;
  /* --nav-color: #424242; */
  --nav-color: rgba(43, 43, 43, 0.4);
  --label-color: #fda251;
  --sadow-box: 0 1px 4px rgba(20, 20, 20, 0.3);
}
/* ===icon color=== */
nav .uil-brightness {
  color: var(--color-icon);
}
nav .uil-moon {
  color: var(--color-icon);
}
/* ====== tambahan ======= */
.container {
  max-width: 768px;
  margin-left: 1.5em;
  margin-right: 1.5em;
}
.grid {
  display: grid;
  gap: 1.5rem;
}
/* ==================================== */
.sect {
  padding: 2rem 0 4rem;
}

.sect__title {
  font-size: 2.25rem;
  color: var(--warna-warni);
}

.sect__sub {
  display: block;
  font-size: 0.813rem;
  margin-bottom: 3rem;
}

.sect__title,
.sect__sub {
  text-align: center;
}
/* ==================================== */
/* ---------checkbox---------- */

.checkbox {
  opacity: 0;
  position: absolute;
}
/* button label */
.label {
  background-color: var(--label-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  height: 26px; /* ini tinggi */
  width: 50px; /*ini panjang */
}
.ball {
  background-color: var(--first-color);
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transition: transform 0.2s linear;
}
.checkbox:checked + .label .ball {
  transform: translateX(24px);
}
/* ----------------button--------------- */
.button {
  margin-top: 3em;
  display: inline-block;
  background-color: var(--warna-warni);
  color: #f8f7f1;
  padding: 0.75rem 2.5rem;
  font-weight: 500;
  border-radius: 0.5rem;
  transition: 0.3s;
  text-decoration: none;
}
.button:hover {
  box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.15);
}
/* ---------------- */
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--first-color);
  color: var(--second-color);
  font-family: var(--font-gede);
  font-weight: 300;
}
nav {
  font-family: var(--font-gede);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 2em;
  background-color: var(--nav-color);
  position: fixed;
  z-index: 0;
  backdrop-filter: blur(3px);
  box-shadow: var(--sadow-box);
}
nav .logo a {
  font-family: var(--font-gede);
  font-weight: 600;
  color: var(--warna-warni);
  letter-spacing: -2px;
  text-decoration: none;
}
nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-between;
}
nav a {
  font-family: var(--font-kecil);
  color: var(--second-color);
  text-decoration: none;
}
footer {
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 0em 10em;
  width: 100%;
}
/* ---------intro-------------- */
.intro {
  padding-top: 150px;
}
.intro__hi {
  font-family: var(--font-kecil);
}
.intro h1 {
  margin-top: 2rem;
  font-family: var(--font-gede);
  font-size: var(--font-big);
  letter-spacing: -3px;
}
.intro h2 {
  margin-top: -10px;
  font-weight: 300;
  font-size: xx-large;
}
.intro__tagline {
  margin-top: 5px;
  margin-bottom: 5px;
  /* word-spacing: 2px; */
}
/* ----------------skills----------------- */
.skills {
  padding-top: 80px;
}

.skills__container {
  row-gap: 0;
}

.skills__header {
  display: flex;
  align-items: center;
  margin-bottom: 2.5em;
  cursor: pointer;
}

.skills__icon,
.skills__arrow {
  font-size: 2em;
  color: var(--warna-warni);
}

.skills__icon {
  margin-right: 0.75em;
}
.skills__title {
  font-size: 1.25em;
}

.skills__sub {
  font-size: 0.813em;
  color: var(--burem-color);
}
.skills__arrow {
  margin-left: auto;
  transition: 0.4s;
}
.skills__list {
  row-gap: 1.5em;
  padding-left: 2.7em;
}

.skills__titles {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
}
.skills__name {
  font-size: 1em;
  font-weight: 400;
}
.skills__bar,
.skills__percentage {
  height: 5px;
  border-radius: 0.25em;
}
.skills__bar {
  background-color: var(--warna-warna);
}
.skills__percentage {
  display: block;
  background-color: var(--warna-warni);
}
.skills__html {
  width: 70%;
}

.skills__css {
  width: 55%;
}

.skills__js {
  width: 20%;
}

.skills__react {
  width: 5%;
}

.skills__ps {
  width: 70%;
}

.skills__ai {
  width: 55%;
}

.skills__figma {
  width: 20%;
}

.skills__word {
  width: 90%;
}

.skills__excel {
  width: 80%;
}

.skills__powerpoint {
  width: 60%;
}
.skills__close .skills__list {
  height: 0;
  overflow: hidden;
}
.skills__open .skills__list {
  height: max-content;
  margin-bottom: 2.5em;
}
.skills__open .skills__arrow {
  transform: rotate(-180deg);
}
/* -------------------------------------- */
@media screen and (max-width: 1312px) {
  nav ul {
    width: 50%;
  }
}
@media screen and (max-width: 992px) {
  .intro h1 {
    font-size: 60px;
    /* letter-spacing: -3px; */
  }
  .intro {
    text-align: center;
  }
  nav ul {
    width: 60%;
  }
}
@media screen and (max-width: 668px) {
  nav li a {
    display: none;
  }
  .content {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    /* padding-top: 9.5rem; */
    padding-bottom: 5rem;
  }
  .intro h1 {
    font-size: 3.25rem;
    letter-spacing: -3px;
  }
  .intro h2 {
    margin-top: 0.25rem;
    font-weight: 300;
    font-size: 25px;
  }
  .intro__tagline {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
  }
}
